<!DOCTYPE html>
<html>
  <head>
    <title>時間効率化サイト</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
      <h1>Reduce waste and efficiently</h1>
      <div class="header-list">
      <ul>
        <li><%= link_to "ホーム", tweets_path %></li>
        <li><%= link_to "新規投稿",new_tweet_path %></li>
        <li><%= link_to "DM",users_path %></li>

        <% if user_signed_in? %>
        <li><%= link_to "ユーザーページ", user_path(current_user.id) %></li>
        <% end %>
        <%= button_to "ログアウト", destroy_user_session_path, :method => :delete %>
        

      </div>
    </header>
    <main>
      <%= yield %>
    <br>
    <br>
    <br>
    </main>
    <footer>
      <p>Copyright © Ryusuke Satake All Rights Reserved.</p>
    </footer>
  </body>
</html>

